* {
    margin: 0;
    padding: 0;
}

:root {
    --foreground: #FFFFFF;
    --background: #0E1116;
    --background-0: #374A67;
    --accent: #616283;
    --highlight: #CB9CF2;
}

body {
    background-color: var(--background);
    display: flex;
    width: 100%;
}

#login-menu {
    background-color: var(--background-0);
    padding: 25px;
    width: 350px;
    height: 200px;

    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    animation: spin 500ms infinite;
    transition: all ease-in-out 250ms;
}

.video {
    height: 45rem;
    width: 75%;
}

.chat {
    height: 45rem;
    width: 25%;
    border-radius: 2rem;
    border: 0.5rem solid #FFFFFF;
}

#chat_log {
    height: 85%;
    width: 100%;
}

#chat_input {
    display: flex;
    height: 15%;
    width: 100%;
    border-radius: 1.5rem;
    border: 0.25rem solid #FFFFFF;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

#input_typing{
    height: 70%;
    width: 70%;
    border: 0.1rem solid #FFFFFF;
    border-radius: 1rem;
}

#chat_space1 {
    height: 70%;
    width: 10%;
}

#enter_button {
    height: 70%;
    width: 20%;
    border: 0.1rem solid #FFFFFF;
    border-radius: 1rem;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes spin {
    0% {
        box-shadow: 0 -10px 10px 5px var(--accent);
    }
    25% {
        box-shadow: 10px 0 10px 5px var(--accent);
    }
    50% {
        box-shadow: 0 10px 10px 5px var(--accent);
    }
    75% {
        box-shadow: -10 0 10px 5px var(--accent);
    }
    100% {
        box-shadow: 0 -10px 10px 5px var(--accent);
    }
}

@media screen and (max-width: 500px) {
    #login-menu {
        width: 200px;
        height: 150px;
    }
}